*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-family: sans-serif;
    color: #fff;
  }
  
  .container{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container p{
    position: absolute;
    z-index: 10;
    font-size: 20px;
    pointer-events: none;
  }
  
  .ring{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
  }
  
  .ring:nth-child(2){
    border-top: 4px solid #ff00ff; 
  }
  
  .ring:nth-child(3){
    border-right: 4px solid #00ffff;
    animation-delay: .3s;
  }
  
  .ring:nth-child(4){
    border-bottom: 4px solid #ccff00;
    animation-delay: .6s;
  }
  
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  